input[type='submit'],
button {
  cursor: pointer;
}

form div {
  margin-bottom: 1rem;
}

.container {
  padding: 2rem;
}

.link {
  color: blue;
  text-decoration: none;
}

.active {
  border-bottom: 2px solid blue;
}
